body {
    background-color: #2870ff;
    color: #323232;
}
a, .section-content h1  {
    color: #207AE8;
}
a:hover{
    color: #0001E8;
}
#top-bar, #bottom-bar, #nav-main ul li ul, #nav-user ul li ul, #footer {
    background-color: #FAFAFA;
}
#nav-user ul li a:hover, #nav-main ul li a:hover, table thead  {
    background-color: #0300EF;
    color: #FFF;
}
#header-main{
    background-color: #0300EF;
}