/* Formatting */
.clearfix {
    clear: both;
}
.right {
    float: right;
}
.left {
    float: left;
}
.center {
    text-align: center;
}
.bold {
    font-weight: bold;
}
.underscore {
    text-decoration: underline;
}
.italic {
    font-style: italic;
}
.strike {
    text-decoration: line-through;
}
.clickable {
    cursor: pointer;
}
/* Tool tips */
#tooltip {
	max-width: 280px;
	position: absolute;
	left: 0px;
	top: 0px;
	display: none;
	z-index: 1000;
}
#tooltip-arrow {
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #4a4949;
	margin-left: 3px;
}
#tooltip-arrow-bottom {
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #4a4949;
	margin-left: 3px;
	float: left;
	display: none;
}
#tooltip-content {
	clear: both;
	background: #4a4949;
	color: #f3f3f3;
	font-size: 0.9em;
	line-height: 12px;
	padding: 5px;
	box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.3);
    word-wrap: break-word;
}

/* Messages */
.message.success,
.message.warning,
.message.info,
.message.error {
    padding: 7px;
    text-align: center;
    font-weight: bold;
}
.success {
    background: #8FFFB6;
    border: 1px dashed #00D100 !important;
}
.warning {
    background: #FFECA1;
    border: 1px dashed #FC0 !important;
}
.info {
    background: #68B7F7;
    border: 1px dashed #00F !important;
}
.error {
    background: #F76868;
    border: 1px dashed #F00 !important;
    color: #fff;
}

/* Colours */
.expired, .accepted {
    color: #2A9E00;
}
.notapplicable, .removed, .review {
    color: #00A1D6;
}
.permanent, .declined {
    color: #ff5a5a;
}
.active, .new{
    color: #FF9D00;
}

/* Tables */
table.table-search {
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
}
table.table-search tr td:first-child {
    width: 150px;
}

table.table-punish .col-date {
    width: 120px;
}
table.table-punish .col-server {
    width: 45px;
}table.table-punish .col-loc {
    width: 30px;
}
table.table-punish .col-player {
    width: 370px;
}
table.table-punish .col-type {
    width: 100px;
}
table.table-punish .col-length {
    width: 130px;
}

table.table-servers .col-loc,
table.table-servers .col-vac,
table.table-servers .col-mod {
    width: 30px;
}
table.table-servers .col-players {
    width: 100px;
}
table.table-servers .col-map {
    width: 270px;
}

table.table-format-data tbody tr td {
    text-align: left;
    padding: 10px;
}
table.table-format-data tbody tr td:first-child {
    text-align: center;
    width: 300px;
    font-weight: bold;
}

table.table-view tr.expired td:nth-child(2),
table.table-punish tr.expired td:nth-child(6) {
    color: #2A9E00;
}
table.table-view tr.removed td:nth-child(2),
table.table-punish tr.removed td:nth-child(6) {
    color: #00A1D6;
}
table.table-view tr.notapplicable td:nth-child(2),
table.table-punish tr.notapplicable td:nth-child(6) {
    color: #00A1D6;
}
table.table-view tr.permanent td:nth-child(2),
table.table-punish tr.permanent td:nth-child(6) {
    color: #ff5a5a;
}
table.table-view tr.active td:nth-child(2),
table.table-punish tr.active td:nth-child(6) {
    color: #FF9D00;
}
table .col-mod {
    width: 45px;
}
table .col-address {
    width: 400px;
}

.comment {
    border-bottom: 1px solid #A1A1A1;
    padding: 7px 0px;
    margin: 7px 0px;
}
.comment-header {
    
}
.comment-header .comment-user {
    font-size: 1.1em;
    font-weight: bold;
}
.comment-header .comment-time {
    color: #424242;
}
.comment-body {
    padding: 10px;
    background-color: #F5F5F5;
    border: 1px dashed #DEDEDE;
    margin: 10px 0px;
}
.comment-body .comment-attachments {
    border-top: 1px dashed #DEDEDE;
    margin-top: 10px;
    padding-top: 7px;
}
.comment-body .comment-attachments ul li {
    padding: 3px;
}
.comment:last-child {
    border-bottom: none !important;
    margin-bottom: 0px !important;
}
.comment:last-child .comment-body {
    margin-bottom: 0px !important;
}

.stat-container {
    -webkit-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.4);
    border-radius: 3px;
    margin: 10px;
    padding: 15px;
    text-align: center;
    display: inline-block;
    width: 261px;
    word-wrap: break-word;
    text-overflow: ellipsis;
    overflow: hidden;
}
.stat-container .stat-title {
    font-weight: bold;
    font-size: 2em;
    display: inline-block;
    margin-bottom: 4px;
    padding-bottom: 4px;
    color: #207AE8;
    border-bottom: 1px solid #CCC;
    width: 100%;
    word-wrap: break-word;
    text-overflow: ellipsis;
    overflow: hidden;
}
.stat-container .stat-count {
    font-size: 1.8em;
    display: inline-block;
    margin-bottom: 10px;
}
.stat-container .stat-extra {
    font-size: 1.2em;
    display: inline-block;
    color: #4A4A4A;
}