.clearfix {
    clear: both;
}
.center {
    text-align: center;
}
.bold {
    font-weight: bold;
}
.underscore {
    text-decoration: underline;
}
.italic {
    font-style: italic;
}
.strike {
    text-decoration: line-through;
}
.clickable {
    cursor: pointer;
}

#tooltip {
	max-width: 280px;
	position: absolute;
	left: 0px;
	top: 0px;
	display: none;
	z-index: 1000;
}
#tooltip-arrow {
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #4a4949;
	margin-left: 3px;
}
#tooltip-arrow-bottom {
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #4a4949;
	margin-left: 3px;
	float: left;
	display: none;
}
#tooltip-content {
	clear: both;
	background: #4a4949;
	color: #f3f3f3;
	font-size: 0.9em;
	line-height: 12px;
	padding: 5px;
	box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.3);
}

table .col-date {
    width: 120px;
}
table .col-server {
    width: 45px;
}
table .col-player {
    width: 320px;
}
table .col-type {
    width: 100px;
}
table .col-length {
    width: 180px;
}
table .green {
    color: #2A9E00;
}
table .blue {
    color: #00A1D6;
}
table .red {
    color: #ff5a5a;
}
table .orange {
    color: #FF9D00;
}
table .text-small,
table .text-small {
    font-size: 0.8em;
}
table .col-mod {
    width: 45px;
}
table .col-address {
    width: 400px;
}