/* Base */
/* Formatting */
.clearfix {
    clear: both;
}
.right {
    float: right;
}
.left {
    float: left;
}
.center {
    text-align: center;
}
.bold {
    font-weight: bold;
}
.underscore {
    text-decoration: underline;
}
.italic {
    font-style: italic;
}
.strike {
    text-decoration: line-through;
}
.clickable {
    cursor: pointer;
}
/* Tool tips */
#tooltip {
	max-width: 280px;
	position: absolute;
	left: 0px;
	top: 0px;
	display: none;
	z-index: 1000;
}
#tooltip-arrow {
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #4a4949;
	margin-left: 3px;
}
#tooltip-arrow-bottom {
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #4a4949;
	margin-left: 3px;
	float: left;
	display: none;
}
#tooltip-content {
	clear: both;
	background: #4a4949;
	color: #f3f3f3;
	font-size: 0.9em;
	line-height: 12px;
	padding: 5px;
	box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.3);
    word-wrap: break-word;
}

/* Messages */
.message.success,
.message.warning,
.message.info,
.message.danger {
    padding: 7px;
    text-align: center;
    font-weight: bold;
}
.success {
    background: #8FFFB6;
    border: 1px dashed #00D100 !important;
}
.warning {
    background: #FFECA1;
    border: 1px dashed #FC0 !important;
}
.info {
    background: #68B7F7;
    border: 1px dashed #00F !important;
}
.danger {
    background: #F76868;
    border: 1px dashed #F00 !important;
    color: #fff;
}

/* Colours */
.punishment-expired, .accepted {
    color: #2A9E00;
}
.punishment-na, .punishment-removed, .review {
    color: #00A1D6;
}
.punishment-permanent, .declined {
    color: #ff5a5a;
}
.punishment-active, .new{
    color: #FF9D00;
}

/* Tables */
table.table-search {
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
}
table.table-search tr td:first-child {
    width: 150px;
}

table.table-punish .table-col-date {
    width: 120px;
}
table.table-punish .table-col-server {
    width: 45px;
}table.table-punish .table-col-country {
    width: 30px;
}
table.table-punish .table-col-player {
    width: 370px;
}
table.table-punish .table-col-type {
    width: 100px;
}
table.table-punish .table-col-length {
    width: 130px;
}

table.table-servers .table-col-country,
table.table-servers .table-col-vac,
table.table-servers .table-col-mod {
    width: 30px;
}
table.table-servers .table-col-players {
    width: 100px;
}
table.table-servers .table-col-map {
    width: 270px;
}

table.table-format-data tbody tr td {
    text-align: left;
    padding: 10px;
}
table.table-format-data tbody tr td:first-child {
    text-align: center;
    width: 300px;
    font-weight: bold;
}

table.table-view tr.expired td:nth-child(2),
table.table-punish tr.expired td:nth-child(6) {
    color: #2A9E00;
}
table.table-view tr.removed td:nth-child(2),
table.table-punish tr.removed td:nth-child(6) {
    color: #00A1D6;
}
table.table-view tr.notapplicable td:nth-child(2),
table.table-punish tr.notapplicable td:nth-child(6) {
    color: #00A1D6;
}
table.table-view tr.permanent td:nth-child(2),
table.table-punish tr.permanent td:nth-child(6) {
    color: #ff5a5a;
}
table.table-view tr.active td:nth-child(2),
table.table-punish tr.active td:nth-child(6) {
    color: #FF9D00;
}
table .col-mod {
    width: 45px;
}
table .col-address {
    width: 400px;
}

.comment {
    border-bottom: 1px solid #A1A1A1;
    padding: 7px 0px;
    margin: 7px 0px;
}
.comment-header {
    
}
.comment-header .comment-user {
    font-size: 1.1em;
    font-weight: bold;
}
.comment-header .comment-time {
    color: #424242;
}
.comment-header .comment-buttons {
    float: right;
}
.comment-header .comment-buttons:after {
    clear:both;
}
.comment-body {
    padding: 10px;
    background-color: #F5F5F5;
    border: 1px dashed #DEDEDE;
    margin: 10px 0px;
}
.comment-body .comment-attachments {
    border-top: 1px dashed #DEDEDE;
    margin-top: 10px;
    padding-top: 7px;
}

.comment-body .comment-attachments ul li {
    padding: 3px;
}
.comment:last-child {
    border-bottom: none !important;
    margin-bottom: 0px !important;
}
.comment:last-child .comment-body {
    margin-bottom: 0px !important;
}

.stat-container {
    -webkit-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.4);
    border-radius: 3px;
    margin: 10px;
    padding: 15px;
    text-align: center;
    display: inline-block;
    width: 261px;
    word-wrap: break-word;
    text-overflow: ellipsis;
    overflow: hidden;
}
.stat-container .stat-title {
    font-weight: bold;
    font-size: 2em;
    display: inline-block;
    margin-bottom: 4px;
    padding-bottom: 4px;
    color: #207AE8;
    border-bottom: 1px solid #CCC;
    width: 100%;
    word-wrap: break-word;
    text-overflow: ellipsis;
    overflow: hidden;
}
.stat-container .stat-count {
    font-size: 1.8em;
    display: inline-block;
    margin-bottom: 10px;
}
.stat-container .stat-extra {
    font-size: 1.2em;
    display: inline-block;
    color: #4A4A4A;
}

/* Main Theme */
/* Reset styles */
html, body, form, fieldset, p, a, ul, li, div, label, br, input, textarea, h1, h2, h3 {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: normal;
    font-style: normal;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: baseline;
    line-height: 1;
    text-align: left;
    *zoom: 1;
}
header, nav, section, article, aside, footer, hgroup {
    display: block;
}
a, a:hover {
    text-decoration: none;
}
img {
    border: 0;
}
p {
    line-height: 130%;   
}
ul {
    list-style: none; 
}
table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}
table td, table th {
    vertical-align: middle;
    text-align: center;
}
table thead th {
    font-weight: bold;
}

/* Body */
body {
    height: 100%;
    background: transparent;
    background: -moz-linear-gradient(to bottom,  rgba(252,252,252,0.02) 0%,rgba(255,255,255,0.95) 100%);
    background: -webkit-linear-gradient(to bottom,  rgba(252,252,252,0.02) 0%,rgba(255,255,255,0.95) 100%);
    background: -o-linear-gradient(to bottom,  rgba(252,252,252,0.02) 0%,rgba(255,255,255,0.95) 100%);
    background: linear-gradient(to bottom,  rgba(252,252,252,0.02) 0%,rgba(255,255,255,0.95) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#wrapper-main {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    box-shadow: 0px 0px 5px 3px rgba(0,0,0,1);
    position: relative;
}
#top-bar, #bottom-bar, #nav-main ul li ul, #footer {
    background: transparent;
    background: -moz-linear-gradient(to bottom, rgba(255,255,255,0.02) 0%,rgba(0,0,0,0.15) 100%);
    background: -webkit-linear-gradient(to bottom, rgba(255,255,255,0.02) 0%,rgba(0,0,0,0.15) 100%);
    background: -o-linear-gradient(to bottom, rgba(255,255,255,0.02) 0%,rgba(0,0,0,0.15) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0.02) 0%,rgba(0,0,0,0.15) 100%);
}
/* Header */
#top-bar {
    height: 26px;
    line-height: 26px;
}
#top-bar-stats {
    float: left;
    font-weight: bold;
    height: 26px;
    line-height: 26px;
    padding-left: 5px;
}
#logo-main {
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,1);
    background: transparent;
    background: -moz-linear-gradient(to bottom,  rgba(252,252,252,0.02) 0%,rgba(0,0,0,0.5) 100%);
    background: -webkit-linear-gradient(to bottom,  rgba(252,252,252,0.02) 0%,rgba(0,0,0,0.5) 100%);
    background: -o-linear-gradient(to bottom,  rgba(252,252,252,0.02) 0%,rgba(0,0,0,0.5) 100%);
    background: linear-gradient(to bottom,  rgba(252,252,252,0.02) 0%,rgba(0,0,0,0.5) 100%);
    padding: 10px 0px;
    text-align: center;
}
#logo-main img {
    width: 100%;
    max-width: 500px;
    max-height: 50px;
}
#bottom-bar {
    height: 30px;
    line-height: 30px;
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,1);
}

/* Navigation Menus */
#nav-user {
    float: right;
    z-index: 999;
}
#nav-user ul li a {
    height: 26px;
    line-height: 26px;
}
#nav-main {
    z-index: 998;
}
#nav-main ul li a {
    height: 30px;
    line-height: 30px;
}
#nav-user, #nav-main {
    position: relative;
}
#nav-user ul li , #nav-main ul li {
    float: left;
}
#nav-user ul li {
    border-left: 1px solid #000;
}
#nav-user ul li ul li {
    border-left: none;
}
#nav-main ul li {
    border-right: 1px solid #000;
}
#nav-main ul li ul li {
    border-right: none;
}
#nav-user ul li a, #nav-main ul li a {
    font-weight: bold;
    display: block;
    padding: 0px 12px 0px 11px;
    cursor: pointer;
}
#nav-user ul li ul, #nav-main ul li ul {
    display: none;
    position: absolute;
    margin-left: -1px;
    border: 1px solid #000;
    border-top: 0px;
}
#nav-user ul li:hover ul, #nav-main ul li:hover ul {
    display: block;
}
#nav-user ul li ul li, #nav-main ul li ul li {
    float: none;
    border-right: 0px;
}

/* Content */
.wrapper-content {
    background: #FFF;
    position: relative;
    /*padding: 0px 10px;*/
}
.wrapper-content .section-content.half {
    width: 50%;
    float: left;
    /*margin-right: 10px;*/
}
.wrapper-content .section-content {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
}
.wrapper-content .section-content .section-content-inner {
    margin: 0px 10px;
}
.wrapper-content .section-content h1 {
    background: #cdcdcd;
	font-size: 1.1em;
    font-weight: bold;
    padding: 6px 0px 6px 8px;
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,1);
    margin: 0px 10px;
    margin-bottom: 8px;
}
.wrapper-content .section-content h1 .action-buttons {
    float: right;
    margin-right: 8px;
}
.wrapper-content .section-content h1 .action-buttons a {
    font-weight: bold;
}

/* Tables */
table thead {
    background: transparent;
    background: -moz-linear-gradient(to bottom,  rgba(252,252,252,0.02) 0%,rgba(0,0,0,0.5) 100%);
    background: -webkit-linear-gradient(to bottom,  rgba(252,252,252,0.02) 0%,rgba(0,0,0,0.5) 100%);
    background: -o-linear-gradient(to bottom,  rgba(252,252,252,0.02) 0%,rgba(0,0,0,0.5) 100%);
    background: linear-gradient(to bottom,  rgba(252,252,252,0.02) 0%,rgba(0,0,0,0.5) 100%);
}
table td, table th {
    padding: 2px 4px;
    border: 1px #DDD solid;
}
table th {
    padding: 4px 4px;
}
tbody tr:nth-child(even) {
    background-color: #f3f3f3;
}
tbody tr:hover {
    background-color: #e0e0e0;
    /*box-shadow: 0px 0px 1px 2px rgba(0,0,0,0.3);*/
}
.table-punish thead th, .table-punish tbody td {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}


/* Forms */
.button {
    background-color: #fff;
}
.button,
form select,
form textarea,
form input {
    border: 1px solid #8C8C8C !important;
    border-radius: 2px;
    margin: 3px;
    padding: 6px;
    color: #000 !important;
}
form input[type=text] {
    width: 85%;
    height: 28px;
    line-height:28px;
    padding: 0px 6px !important;
}
form textarea {
    width: 95%;
    padding: 6px !important;
}
.button:hover,
.button:focus,
form select:hover,
form select:focus,
form textarea:hover,
form textarea:focus,
form input:hover,
form input:focus {
    border: 1px solid #575757;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
    color: #000;
}
form select {
    padding: 3px;
    max-width: 100%;
}
form input[type=submit] {
    color: #000;
    background: #fff;
    cursor: pointer;
}
form textarea.input-textarea-large {
    width: 95%;
    height: 60px;
}
form .small {
    width: 50px !important;
}

/* Pagination */
.pagination {
    margin-top: 15px;
	display: block; 
    margin-bottom: 10px;
    text-align: center;
}
.pagination-container {
    height: 100%;
    display: inline-block;
    border-right: 1px #DDD solid;
    border-top: 1px #DDD solid;
    border-bottom: 1px #DDD solid;
}
.pagination-container span,
.pagination-container a {
    padding: 6px;
    display: inline-block;
    border-left: 1px #DDD solid;
}
.pagination-container .disabled {
    cursor: not-allowed !important;
}

/* Footer */
#footer {
    height: 26px;
    line-height: 26px;
    text-align: center;
    border-top: 1px solid #EDEDED;
}

/* Blue */
body {
    background-color: #2870ff;
    color: #323232;
}
a, .section-content h1  {
    color: #207AE8;
}
a:hover{
    color: #0001E8;
}
#nav-user > ul > li.active > a, #nav-main > ul > li.active > a, #nav-user ul li:hover > a, #nav-main ul li:hover > a, table thead, .pagination-container a:hover, .pagination-container a.active  {
    background-color: #0300EF;
    color: #FFF;
}
#top-bar, #bottom-bar, #nav-main ul li ul, #nav-user ul li ul, #footer {
    background-color: #FAFAFA !important;
}
#header-main{
    background-color: #0300EF;
}
.pagination-container a {color: #207AE8; }
.pagination-container .disabled {color: #103766; }